<section>
<header>
	<div class="page-header">
    	<h1 class="page-title" itemprop="headline">Card - Aggregate Status</h1>
    </div>
</header>

<tabset>
    <tab heading="Overview">
    	<section ng-include="'modules/page/views/cards/aggStatus/overview.html'"></section>
    </tab>
    <tab heading="Usage Guildlines">
    	<section ng-include="'modules/page/views/cards/aggStatus/usage.html'"></section>
    </tab>
    <tab heading="Annotations">
    	<img src="/styles/images/specs/messaging-modals-spec.png" alt="example image" class="example_image"/>
    </tab>
    <tab heading="Bootstrap Example">
    	<section ng-include="'modules/page/views/cards/aggStatus/bootstrap.html'"></section>
    </tab>
    <tab heading="Angular Example">
    	<section ng-include="'modules/page/views/cards/aggStatus/angular.html'"></section>
    </tab>
</tabset>
</section>



