<div class="btn-group" dropdown style="margin-top: 20px; margin-bottom: 20px;">
      <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
        Dropdown <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li class="disabled"><a href="#">Disabled link</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </div>

<textarea class="example" readonly style="height: 400px;">
//Requires - Angular UI Bootstrap: 'ui.bootstrap'
//Note: bootstrap.js not required, however angular-bootstrap/ui-bootstrap-tpls.min.js IS required

//HTML Markup
<div class="btn-group" dropdown>
  <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
    Dropdown <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li class="divider"></li>
    <li class="disabled"><a href="#">Disabled link</a></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
</textarea>