<div class="example_widget">

<div class="col-xs-12 col-sm-12 col-md-10">
	<div class="row">
     	<div>
        	<div class="col-xs-6 col-sm-6 col-md-4" ng-repeat="widget in vm.status_widgets">
            	<div pf-obj-status type="widget"></div>
            </div>
        </div>
    </div><!-- /row -->
</div>
</div>

<textarea class="example" readonly style="height: 400px;">
//Requires
Angular Patternfly - 'patternfly.cards'

//HTML Markup
<div pf-obj-status type="status"></div>

//Controller
var vm = this;
vm.status = {
    "name":"Nodes",
    "iconClass":"pficon-container-node",
    "count":"52",
    "status":[
    	{
            "iconClass":"pficon-error-circle-o",
            "count":"3"
        }
    ]
}
</textarea>