<section class="home">
	

<div class="jumbotron">
  <div class="container">
    <!--[if IE 8]>
      <div class="alert alert-warning" role="alert">
        <span class="pficon-layered">
          <span class="pficon pficon-warning-triangle"></span>
          <span class="pficon pficon-warning-exclamation"></span>
        </span>
        PatternFly supports Internet Explorer 8, but this page does not.  Please use a newer browser.  #svgimages
      </div>
    <![endif]-->
    <div class="splash">
      <div class="content">
        <img src="styles/images/patternfly-orb.svg" alt="PatternFly logo" class="wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown; -webkit-animation-name: fadeInDown;">
        <h1 class="wow fadeIn animated" data-wow-delay="750ms" style="visibility: visible; animation-delay: 750ms; -webkit-animation-delay: 750ms; animation-name: fadeIn; -webkit-animation-name: fadeIn;">PatternFly Open Interface Project</h1>
        <p class="description wow fadeIn animated" data-wow-delay="1250ms" style="visibility: visible; animation-delay: 1250ms; -webkit-animation-delay: 1250ms; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
          Promotes design commonality and improved user experience across enterprise IT products and applications.
        </p>
        <div class="btn-group wow fadeIn animated" role="group" aria-label="PatternFly details" data-wow-delay="1500ms" style="visibility: visible; animation-delay: 1500ms; -webkit-animation-delay: 1500ms; animation-name: fadeIn; -webkit-animation-name: fadeIn;">
          <a class="btn btn-primary btn-lg" href="/get-started">Learn More</a>
          <a class="btn btn-primary btn-lg" href="http://github.com/patternfly/patternfly">GitHub Repo</a>
        </div>
        <p class="version wow fadeIn animated" data-wow-delay="1500ms" style="visibility: visible; animation-delay: 1500ms; -webkit-animation-delay: 1500ms; animation-name: fadeIn; -webkit-animation-name: fadeIn;">Version 1.3.0</p>
      </div>
    </div>
  </div>
  <p class="about">PatternFly is a community project that promotes design commonality and improved user experience. Its offerings include visual and behavioral patterns based on research and UX best practices that solve common design problems. Our design process is iterative; the best ideas win until a new and better idea comes along. We value collaboration and meritocracy and invite anyone to participate in our effort to improve user experience across IT products and applications</p>

</div>



</section>